body {
  font-family: "proxima-nova",sans-serif;
  font-size: 16px;
}

.logosign {
  position: relative;
  top: 20px;
  left: 70px;
  width: 1200px;
}
.logoimg {
  width: 20%;
  height: auto;
}

  a { color: inherit; text-decoration: none; }

* { outline: 0; border: 0; margin: 0; }

.left {float: left;} .right {float: right;}

.ui-panel {
  margin: 0 auto;
  width: 360px;
  height: auto;
  color: white;
  border: none;
  box-shadow: 0px 0px 12px rgba(0,0,0,0.3);
  position: absolute;
  margin-top: -190px;
  margin-left: -181px;
  top: 50%;
  left: 50%;
}

#loginpage .ui-panel {
  background-color:#4b687d;
}

#registrationpage .ui-panel {
  background-color:#75074d;
}

header {
  height: 46px;
  border-bottom: 1px solid #e3cbac;
  line-height: 46px;
  padding: 0 28px;
  font-size: 0.65em;
  font-weight: 600;
  letter-spacing: 0.3em;
}
  .logo { text-transform: uppercase; }
  .close {
  }

span { 
  color: #c46d3b; 
  font-size: 13px;
}

.login-form {
  padding: 18px 28px 0 28px;
}
  .subtitle { font-size: 0.92em; }
  input {
    font-size: 1.05em;
    font-weight: 300;
    margin-top: 18px;
    padding: 10px 8px;
    width: 288px;
  }

footer {
  padding: 26px 28px 40px 28px;
  font-size: 0.82em;
}
  .form-actions {
  }
  a { padding: 4px 8px;}
  .register {
    background-color: #c46d3b;
    color: #272326;
    border-radius: 2px;
    padding: 5px;
  }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  background-color: #e3cbac;
}

.loginpic {
  width: 300px;
  height: auto;
  position: absolute;
  left: 350px;
  top: 300px;
}

.regpic {
  width: 300px;
  height: auto;
  position: absolute;
  right: 350px;
  top: 400px;
}

.insideinput {
  margin-left: -13px;
}