@import url('http://fonts.googleapis.com/css?family=Raleway');

* {
  margin: 0;
  padding: 0;

  font-family: "Raleway", sans-serif;
  
  -webkit-font-smoothing: antialiased;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* --- Page ID Elements --- */

#wrapper {
 width:1200px;
 height:720px;
 margin-right:auto;
 margin-left:auto;
}

#banner-wrap {
  background-color:#638aa6;
}

#stuff-wrap {
  height:530px;
  top: 10px;
  position:relative;
}

#schedule {
  height: 870px;
  margin-top: 10px;
  border-top:4px white solid;
  background-color: #ecf0f1;
  z-index: 200;
}
#schedule p {
  color: black;
  font-size: 14px;
  margin-top: 140px;
  margin-left: 550px;
}
#schedule h1 {
  text-align: center;
  color: Black;
  padding-top:60px;
}
.divider {
  margin-top:-465px;
  margin-left:300px;
}
  #allpoint {
    margin-top:-470px;
    margin-left:199px;
  }
    #allpoint .dr1 {
      margin-top:-47px;
      margin-bottom:0;
    }
      .dr2 {margin-top:-175px ;}
      .dr3 {margin-top:-175px ;}
      .dr4 {margin-top:-175px ;}
      .dr5 {margin-top:-165px ;}

.notice {
  margin-top: 40px;
  margin-left: 300px;
  width: 875px;
  color: black;
  float: left;
  font-size: 14px;
  letter-spacing: 0.1px;
}

#foot {
  margin-top: 10px;
  height: 200px;
  width: 1200px;
  background-color: #e3cbac;
}
.socialbuttons {
  float: left;
  padding-top: 20px;
  margin-left: 805px; 
}
.socialimg {
  width: 40px;
  height: auto;
}

#login {
  background-color:#638aa6;
}

#workshop {
  height:570px;
  margin-top: 10px;
  background-color:#638aa6;
}
#workshop h1 {
  text-align: center;
  color: white;
  padding-top:60px;
}

.workshop-media {
  float: left;
  margin-top: 70px;
  margin-left: 90px;
}

.workshop-text {
  float:left;
  color: white;
  margin-top: 70px;
  margin-left: 70px;
}
.workshop-text p {
  max-width: 390px;
}

#aboutus {
  height:950px;
  margin-top: 10px;
  background-color:#638aa6;
}
#aboutus h1 {
  text-align: center;
  font-weight: 50;
  padding-top: 60px;
  color: white;
}

#questions {
  height:450px;
  margin-top: 10px;
  background-color:#638aa6;
}
#questions h1 {
  text-align: center;
  font-weight: 50;
  padding-top:60px;
  color: white;
}
#questions ul {
  margin-left:300px;
  padding-top:40px;
  color: white;
}
#questions li {
  font-size: 14px;
  letter-spacing: 0.1px;
}
.QA {
  color: orange;
}
.realq {
  float:left;
  margin-right: 30px;
}

#competition-wrap {
  height:530px;
  top: 10px;
  position:relative;
}

#venue-wrap {
  height:530px;
  margin-top: 12px;
  position:relative;
}

/* --- End of Page ID Elements --- */

/* --- Page Class Elements --- */

.trai {
  float: right;
  margin-right: 150px;
  margin-top: 50px;
}
.phai {
  float: right;
  margin-right: 50px;
  margin-top: 50px;
}

.TomN {
  width: 400px;
  clear: both;
  float: left;
  margin-left: 175px;
  margin-right: 75px;
  color: white;
  font-size: 14px;
  letter-spacing: 0.1px;
}

.TomP{
  width: 400px;
  float: left;
  color: white;
  font-size: 14px;
  letter-spacing: 0.1px;
}

.cakesenpai {
  margin-top: 40px;
  margin-left: 175px;
  width: 875px;
  color: white;
  float: left;
  font-size: 14px;
  letter-spacing: 0.1px;
}

.general-contacts {
  margin-top: 40px;
  margin-left: 175px;
  float: left;
  color: white;
  font-size: 14px;
  letter-spacing: 0.1px;
}

.competition-media {
  float:left;
  width:599px;
  height:530px;
  text-align:center; 
  background-color:#ecf0f1;
}
.competition-media h1 {
  padding-top:40px;
  text-shadow: 1px 1px 1px #000;
}

.competition-text {
  float:right;
  width:599px;
  height:530px;
  background-color:#ecf0f1;
}
.competition-text h1 {
  padding-top:70px;
  color: #272326;
  text-align:center; 
  text-shadow: 1px 1px 1px #000;
}
.competition-text p {
  width: 400px;
  font-size: 14px;
  line-height: 18px;
  margin-top: 70px;
  margin-left: 100px;
  letter-spacing: 0.1px;
}

.venue-media {
  float:right;
  width:599px;
  height:530px;
  text-align:center; 
  background-color:#ecf0f1;
}
.venue-media h1 {
  padding-top:40px;
  text-shadow: 1px 1px 1px #000;
}

.venue-text {
  float:left;
  width:599px;
  height:530px;
  background-color:#ecf0f1;
}
.venue-text h1 {
  padding-top:70px;
  color: #272326;
  text-align:center; 
  text-shadow: 1px 1px 1px #000;
}
.venue-text p {
  width: 400px;
  font-size: 14px;
  line-height: 18px;
  margin-top: 70px;
  margin-left: 100px;
  letter-spacing: 0.1px;
}

.eventimg {
  width: 470px;
  margin-top: 30px;
  height: auto;
}

#canvas-container {
  width: 100%;
  text-align: center;
  padding-top: 30px;
}

.myCanvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 200px;
}

/* --- End of Page Class Elements --- */

/* --- Header --- */

header{
  position:fixed;
  z-index:1000;
  display:block;
  width:100%;
  height:170px;
  padding:0;
  margin:0; 
}
header h1{
  text-align:center;
  max-width:385px;
  margin:23px auto 0 auto;
  position:relative;
  z-index:1;
}
header h1 a{
  display:block;
}
header h1 img{
  width:100%;
}

nav {
  position:absolute;
  top:90px;
  width:100%;
  height:70px;
}
nav a {
  font-size:15px;
  text-decoration:none;
  color:white;
}
nav ul {
  width:49%;
  line-height:85px;
  padding:0;
  margin:0;
  position:relative;
}
nav ul li {
  display:inline-block;
  position:relative;
}
nav .left li {
  margin:0 7% 0 0;
  left:90px;
  bottom:18px;
}
nav .right li {
  margin:0 0 0 8%;
  right:90px;
  bottom:18px;
}

body{
  height:auto;
}
.right{
  float:right;
  text-align:right; 
  width: 39%;
  height:50px;
  margin-top: -50px;
  background-color: rgba(227, 203, 172, 0.9);
  border-top-left-radius:30px;
  border-bottom-left-radius:30px;
}
.left{
  float:left;
  text-align:left;  
  width:39%;
  height:50px;
  margin-left:auto;
  margin-top: -50px;
  background-color: rgba(227, 203, 172, 0.9);
  border-top-right-radius:30px;
  border-bottom-right-radius:30px;
}
.center{
  margin:0 auto;
  text-align:center;  
}
.logo {
  bottom: 20px;
}
.logoimg {
  width: 65%;
  height: auto;
}
.logo2 {
  padding-top: 50px;
  padding-left: 90px;
}
.logoimg2 {
  width: 15%;
  height: auto;
}
.copyright {
  clear: both;
  position: relative;
  bottom: 30px;
  left: 80px;
  width: 20%;
  font-size: 14px;
  letter-spacing: 0.1px;
}

ul {
  list-style:none;
}

/* --- End of Header --- */

/* --- Banner --- */

.banner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  
  color: rgba(255,255,255,.6);
  text-shadow: 0 0 1px rgba(0,0,0,.05), 0 1px 2px rgba(0,0,0,.3);
  
  background: #5b4d3d;
}
.banner ul {
  list-style: none;
  width: 1200px;
  height: 530px;
}
.banner ul li {
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  padding: 160px 0 100px;

  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  background-size: 100% 100%;
}

.banner h1, .banner h2 {
  font-size: 40px;
  line-height: 52px;

  color: #fff;
}

.banner .btn {
  display: inline-block;
  margin: 25px 0 0;
  padding: 9px 22px 7px;
  clear: both;

  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;

  border: 2px solid rgba(255,255,255,.4);
  border-radius: 5px;
}
.banner .btn:hover {
  background: rgba(255,255,255,.05);
}
.banner .btn:active {
  -webkit-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
  -moz-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
  -ms-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
  -o-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
  filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
}

.banner .btn, .banner .dot {
  -webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
  -moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
  -ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
  -o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
  filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
}

.banner .dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
}
.banner .dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;

  text-indent: -999em;

  border: 2px solid #808080;
  border-radius: 6px;

  cursor: pointer;
  opacity: .4;

  -webkit-transition: background .5s, opacity .5s;
  -moz-transition: background .5s, opacity .5s;
  transition: background .5s, opacity .5s;
}
.banner .dots li.active {
  background: #fff;
  opacity: 1;
}

/* --- End of Banner --- */

/* --- Portrait Circles --- */

.ch-grid {
    margin: 2px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}
 
.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}
 
.ch-grid:after {
    clear: both;
}
 
.ch-grid li {
    width: 220px;
    height: 220px;
    display: inline-block;
    margin-top: 60px;
    margin-right: 120px;
    margin-bottom: 120px;
    margin-left: 120px;
}

.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    cursor: default;
    box-shadow: 
        inset 0 0 0 0 rgba(196,109,59, 0.6),
        inset 0 0 0 16px rgba(255,255,255,0.6),
        0 1px 2px rgba(0,0,0,0.1);
    transition: all 0.4s ease-in-out;
}

.ch-img-1 { 
    background-image: url(../images/abt2.jpg);
}
 
.ch-img-2 { 
    background-image: url(../images/abt1.jpg);
}
 
.ch-info {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
    backface-visibility: hidden;
}

.ch-info h3 {
    color: #fff;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 2px;
    font-size: 22px;
    margin: 0 30px;
    padding: 65px 0 0 0;
    height: 120px;
    font-family: 'Open Sans', Arial, sans-serif;
    text-shadow: 
        0 0 1px #fff, 
        0 1px 2px rgba(0,0,0,0.3);
}
 
.ch-info p {
    color: #fff;
    padding: 10px 5px;
    font-style: italic;
    margin: 0 30px;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255,0.5);
}
 
.ch-info p a {
    display: block;
    color: rgba(255,255,255,0.7);
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    padding-top: 4px;
    font-family: 'Open Sans', Arial, sans-serif;
}
 
.ch-info p a:hover {
    color: rgba(255,242,34, 0.8);
}

.ch-item:hover {
    box-shadow: 
        inset 0 0 0 110px rgba(196,109,59, 0.6),
        inset 0 0 0 16px rgba(255,255,255,0.8),
        0 1px 2px rgba(0,0,0,0.1);
}

.ch-item:hover .ch-info {
    opacity: 1;
    transform: scale(1);    
}

/* --- End of Portrait Circles --- */

/* --- Footer ---*/

.wrap {
  margin: 0 auto;
  width: 960px;
}

#foot a {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  cursor:pointer;
  font-size: 13px;
}
.phai a:hover {
  border-bottom: 1.5px black solid;
}
.trai a:hover {
  border-bottom: 1.5px black solid;
}

.header-links a {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  cursor:pointer;
}
.left a:hover {
  border-bottom: 1.5px black solid;
  color: black;
}
.right a:hover {
  border-bottom: 1.5px black solid;
  color: black;
}

/* --- End of Footer ---*/